<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Forum</a></li>
        <% if(typeof category !== 'undefined') { %>
            <li class="breadcrumb-item"><a href="/<%= category.route %>"><%= category.title %></a></li>
            <% if(typeof sub_category !== 'undefined') { %>
                <li class="breadcrumb-item"><a href="/<%= category.route %>/<%= sub_category.route %>"><%= sub_category.title %></a></li>
                <% if(typeof post !== 'undefined') { %>
                    <li class="breadcrumb-item"><a href="/<%= category.route %>/<%= sub_category.route %>/<%= post.route %>"><%= post.title %></a></li>
                <% } %>
            <% } %>
        <% } %>
    </ol>
</nav>